/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */

/* Style the tab */

  
  /* Style the tab content */
.tabcontent {
  display: none;
  text-align: center;
  padding: 6px 12px;
  height: 26rem;
  /* border: 1px solid #1c2025; */
  /* border-top: none; */
  position: relative;
  min-width: 300px;
  border-radius: 10px;
  
}

.maincontent{
  font-family: Arial;
  text-align: center;
  min-width: 400px;
  width: 30%;


  margin-left: auto;
  margin-right: auto;
  
}

h1{
  color: #ffffff;
  font-family:'Arial';
  font-weight:900;
}

h2{
  text-decoration: underline;
}

body{
  background-color: #272d35;
}

.tabcontent{
  background-color: #3a404e;
  color:white;
}

footer {
  color:#4a5463;
  position:fixed;
  bottom:0;
  height:auto; 
}

.nextbtn{
  background-color:#239257;
  color: #a2ded0;
  position:absolute;                 
  bottom:0;                         
  right:0;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 16px;
  border-radius: 10px  0px  10px 0px;
  
}

.backbtn{
  background-color:#96281b;
  color: #f1a9a0;
  position:absolute;                 
  bottom:0;
  left:0;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 7px 16px;
  border-radius: 0px  10px  0px 10px;
}

.productList{
  position: relative;
  text-align: left;
  margin: 0% 30% 0% 30%;
  width: 60%;
  padding: 10px;
  
}

.displayCart{
  position: relative;
  text-align: left;
  margin: 0% 30% 0% 38%;
  /* width: 60%; */
  padding: 10px;

}

.totalPrice{
  font-weight: bold;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;

}

.restrictionList{
  position: relative;
  text-align: left;
  margin: 0% 30% 0% 38%;

}